html,
body {
	height: 100%;
	min-height: 100%;
}
.box {
	min-height: 100%;
	background: url("../images/bg.jpg") left top no-repeat;
	background-size: cover;
	background-origin: 50% 50%;
}
.container {
	max-width: 10rem;
	margin: 0 auto;
}
.container .header {
	padding: 0.13rem 0;
}
.container .header .logo {
	width: 1.5rem;
}
.container .cont1 {
	padding-top: 0.6rem;
	text-align: center;
}
.container .cont1 .t1 {
	color: #c4653f;
	font-size: 0.48rem;
}
.container .cont1 .t2 {
	color: rgba(255, 255, 255, 0.5);
	font-size: 0.16rem;
}

.container .qcode-box {
	text-align: center;
}
.container .qcode-box .qcode-item {
	display: inline-block;
	text-align: center;
	padding: 0.3rem 0;
	margin: 0 0.2rem;
}
.container .qcode-box .qcode-img {
	width: 0.75rem;
	height: 0.75rem;
	border: 0.05rem solid #fff;
}
.container .qcode-box .t {
	font-size: 0.16rem;
	margin-top: 0.1rem;
	color: rgba(255, 255, 255, 0.5);
}
.time-box {
	width: 100%;
	text-align: center;
	padding: 1rem 0;
}
.time-item {
	text-align: center;
	display: inline-block;
	vertical-align: top;
	margin: 0 0.2rem;
	height: 1.3rem;
}
.time-item .num {
	width: 0.7rem;
	position: relative;
	height: 1.3rem;
	overflow: hidden;
	display: inline-block;
}
.num-inner {
	position: absolute;
	top: 0;
	left: 50%;
}
.time-item .iconfont {
	font-size: 1.2rem;
	color: #fff;
	position: relative;
	left: -0.25rem;
	display: inline-block;
}

.time-item .time-type {
	margin-top: 0.2rem;
	color: rgba(255, 255, 255, 0.5);
}
.time-box .t {
	font-size: 1.1rem;
	color: #fff;
	vertical-align: top;
	display: inline-block;
}
@media screen and (max-width: 1000px) {
	.container .header {
		padding-left: 0.1rem;
	}
	.container .cont1 .t1 {
		font-size: 0.4rem;
	}
}
