.projectDetail {
	width: 100%;
	padding: 0.5rem 0.9rem 0 1.41rem;
	box-sizing: border-box;

	.projectDetailCon3 {
		width: 3.36rem;
		padding: 0.1rem 0.16rem 0;
		box-sizing: border-box;
		border-right: 1px solid #ececec;
		// flex-shrink: 0;
		.projectDetailCon3Ul {
			width: 100%;
			li {
				display: block;
				height: 0.74rem;
				line-height: 0.74rem;
				border-bottom: 1px solid #ececec;
				text-align: center;
				span {
					display: block;
					height: 0.28rem;
					font-size: 0.2rem;
					font-family: PingFangSC-Thin;
					color: rgba(51, 51, 51, 1);
				}
				&.cur {
					background: rgba(255, 229, 220, 1);
				}
			}
		}
	}
}
