@import "../../../../lib/css/base.less";
.info-box {
	padding: 0.1rem 0;

	.info-item {
		//border: 1px solid @border;
		cursor: pointer;
		//box-shadow: 0 2px 7px 0 @shadow;
		background: @white;
		.img {
			width: 100%;
		}
		.info-title {
			padding: 0.1rem;
			box-sizing: border-box;
			font-size: 0.16rem;
		}
		.info-time {
			color: @grey;
			padding: 0.1rem;
			box-sizing: border-box;
		}
	}
}
