@import "../../../../lib/css/base.less";
.real-time {
	.realtime-title {
		padding: 0.2rem 0;
		font-size: 0.16rem;
	}
	.realtime-box1 {
		padding: 0 0 0.1rem 0;
		.realtime-now {
			font-weight: 600;
			font-size: 0.24rem;
			vertical-align: middle;
		}
		.realtime-trend {
			vertical-align: middle;
			font-size: 0.14rm;
			margin-left: 0.1rem;
		}
	}
	.reactime-box2 {
	}
	.realtime-item {
		display: flex;
		align-items: flex-start;
		box-sizing: border-box;
		padding: 0.1rem 0;
		.left {
			width: 1rem;
		}
		.right {
			flex: 1;
		}
	}
}
