.toptext-box {
	padding: 0.44rem 0 0.4rem 0;
	text-align: center;
	display: inline-block;
	width: 7.6rem;
	font-family: "Microsoft YaHei", Arial;
	text-align: left;
	height: 0.8rem;
	.t1 {
		font-size: 0.24rem;
		color: #262626;
		vertical-align: middle;
	}
	.t2 {
		color: #b1b1b1;
		font-size: 0.24rem;
		font-style: normal;
		vertical-align: middle;
	}
	.text-end {
		color: #b1b1b1;
		font-size: 0.24rem;
		vertical-align: middle;
	}
}

@media only screen and (max-width: 900px) {
	.toptext-box {
		display: none;
	}
}
