.left-menu {
	width: 2rem;
	.left-menu-item {
		cursor: pointer;
		.line {
			width: 0.12rem;
			height: 0.03rem;
			display: inline-block;
			vertical-align: middle;
			margin-right: 0.1rem;
			background: #333333;
		}
		.text {
			color: #e7e7e7;
		}
	}
}
