.gaikuo {
	width: 100%;
	position: relative;
	ul.gaikuoUl {
		width: 0.94rem;
		margin: 0 auto;
		justify-content: space-between;
		li {
			width: 0.16rem;
			height: 0.16rem;
			b {
				display: block;
				width: 0.16rem;
				height: 0.16rem;
			}
			span {
				display: none;
				width: 0.24rem;
				height: 0.14rem;
				line-height: 0.14rem;
				margin-top: 0.04rem;
				font-size: 0.12rem;
				color: rgba(201, 198, 198, 1);
				margin-left: -0.04rem;
			}
			&:hover span {
				display: block;
			}
			&.gaikuoRemind {
				b {
					background: url("../../assets/images/gaikuo_remind.png")
						right center no-repeat;
					background-size: 100% 100%;
				}
				&:hover,
				&.cur {
					b {
						background: url("../../assets/images/gaikuo_remind_s.png")
							right center no-repeat;
						background-size: 100% 100%;
					}
				}
			}
			&.gaikuoCollect {
				b {
					background: url("../../assets/images/gaikuo_collect.png")
						right center no-repeat;
					background-size: 100% 100%;
				}
				&:hover,
				&.cur {
					b {
						background: url("../../assets/images/gaikuo_collect_s.png")
							right center no-repeat;
						background-size: 100% 100%;
					}
				}
			}
			&.gaikuoHome {
				b {
					background: url("../../assets/images/gaikuo_zhuye.png")
						right center no-repeat;
					background-size: 100% 100%;
				}
				&:hover,
				&.cur {
					b {
						background: url("../../assets/images/gaikuo_zhuye_s.png")
							right center no-repeat;
						background-size: 100% 100%;
					}
				}
			}
			&.gaikuoShare {
				b {
					background: url("../../assets/images/zixun1_share.png")
						right center no-repeat;
					background-size: 100% 100%;
				}
				&:hover,
				&.cur {
					b {
						background: url("../../assets/images/zixun1_share_s.png")
							right center no-repeat;
						background-size: 100% 100%;
					}
				}
			}
		}
	}
	.shareList {
		position: absolute;
		width: 100%;
		height: 0.36rem;
		background: rgba(51, 51, 51, 1);
		border-radius: 0.04rem;
		margin-top: 0.05rem;
		justify-content: space-around;
		li.wx {
			width: 0.16rem;
			height: 0.14rem;
			background: url("../../assets/images/zixun1_wechat.png") no-repeat 0
				0;
			background-size: 100%;
		}
		li.pyq {
			width: 0.14rem;
			height: 0.14rem;
			background: url("../../assets/images/zixun1_pengyouquan.png")
				no-repeat 0 0;
			background-size: 100%;
		}
		li.tele {
			width: 0.14rem;
			height: 0.14rem;
			background: url("../../assets/images/zixun1_telegram.png") no-repeat
				0 0;
			background-size: 100%;
		}
		li.qq {
			width: 0.12rem;
			height: 0.14rem;
			background: url("../../assets/images/zixun1_qq.png") no-repeat 0 0;
			background-size: 100%;
		}
	}
}
