.acc-detail {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1010;
	.acc-content {
		position: relative;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.7);
		display: flex;
		align-items: center;
		justify-content: center;
		.acc-container {
			position: relative;
			background: #fff;
			border-radius: 0.04rem;
			width: 5rem;
			min-height: 2rem;
			max-height: 90%;
			box-sizing: border-box;
			overflow: auto;
			.icon-close {
				position: absolute;
				right: 0.2rem;
				top: 0.2rem;
			}
			.acc-title {
				text-align: center;
				padding: 0.2rem 0.4rem;
				font-size: 0.18rem;
			}
			.acc-time {
				color: #a4a4a4;
				font-size: 0.12rem;
				padding: 0 0.2rem;
			}
			.acc-text {
				padding: 0.1rem 0.2rem;
				word-break: break-all;
				word-wrap: break-word;
				white-space: pre-wrap;
				p {
					span {
						font-family: "Microsoft YaHei", "PingFang" !important;
						font-size: 0.16rem;
					}
				}
			}
		}
	}
}
.mobile {
	.acc-content {
		overflow: auto;
	}
	.acc-detail .acc-content .acc-container .acc-title {
		font-size: 0.36rem;
	}
	.acc-detail .acc-content .acc-container {
		width: 90%;
	}
}
