@font-face {
	font-family: "impact";
	src: url("../fonts/impact.woff"), url("../fonts/impact.eot"),
		url("../fonts/impact.svg"), url("../fonts/impact.ttf");
}

html {
	font-size: 100px;
}

body {
	font-size: 0.14rem;
}
/* iphone 6 */
@media (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
	html {
		/*font-size: 117.1875px;*/
		font-size: 100px;
	}
}
/* iphone6 plus */
@media (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
	html {
		/*font-size: 115.375px;*/
		font-size: 110px;
	}
}

html,
body {
	background-color: #fff;
	margin: 0;
	padding: 0;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	font-family: "Microsoft YaHei", "PingFang SC", Arial, Helvetica, "freesans",
		sans-serif;
	-webkit-text-size-adjust: none;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}
