.container {
	max-width: @max-width;
	min-width: @min-width;
	margin: 0 auto;
}
.ui {
	display: flex;
}
.ui.start {
	align-items: flex-start;
}
.ui.center {
	align-items: center;
}
.ui.jcenter {
	justify-content: center;
}
.ui .f1 {
	flex: 1;
	min-width: 0;
}
.icon-return {
	background: url("../images/returnbtn.png") left top no-repeat;
	display: inline-block;
	width: 0.12rem;
	height: 0.21rem;
	background-size: 100% 100%;
	cursor: pointer;
}
.icon-close {
	background: url("../images/close1.png") left top no-repeat;
	display: inline-block;
	background-size: 100% 100%;
	width: 0.17rem;
	height: 0.17rem;
}
.icon-see {
	background: url("../images/seepass.png") left top no-repeat;
	display: inline-block;
	width: 0.22rem;
	height: 0.13rem;
	margin-left: 0.1rem;
	background-size: 100% 100%;
	cursor: pointer;
}
.icon-see.show-text {
	background: url("../images/seepass1.png") left top no-repeat;
	background-size: 100% 100%;
}
