.wallentBox {
	width: 100%;
	padding: 0 2.43rem;
	box-sizing: border-box;
	.wallentLf {
		width: 100%;
		padding-right: 1.4rem;
		.wallentLfTitle {
			display: block;
			width: 100%;
			height: 0.45rem;
			font-size: 0.32rem;
			font-family: PingFangSC-Thin;
			color: rgba(51, 51, 51, 1);
			line-height: 0.45rem;
			margin-bottom: 0.3rem;
		}
		.wallentLfCont {
			display: block;
			width: 100%;
			font-size: 0.16rem;
			color: rgba(51, 51, 51, 1);
			line-height: 0.22rem;
			text-align: justify;
			margin-bottom: 0.5rem;
		}
		.wallentDown {
			width: 100%;
			height: 0.42rem;
			div {
				float: left;
				max-width: 49%;
				width: 1.46rem;
				height: 0.42rem;
				background: rgba(255, 87, 31, 1);
				border-radius: 0.04rem;
				line-height: 0.42rem;
				text-align: center;
				color: #fff;
				overflow: hidden;
				&.downLf {
					img {
						width: 1.1rem;
						max-width: 100%;
					}
				}
				&.downRt {
					float: right;
					img {
						width: 1.21rem;
						max-width: 100%;
					}
				}
			}
		}
	}
	.wallentRt {
		width: 2.95rem;
		img {
			display: block;
			width: 100%;
		}
	}
}
