.wallentBox {
	width: 100%;
	padding: 0 2.43rem;
	box-sizing: border-box;
	.wallentLf {
		width: 100%;
		padding-right: 1.4rem;
		.wallentLfTitle {
			display: block;
			width: 100%;
			height: 0.45rem;
			font-size: 0.32rem;
			font-family: PingFangSC-Thin;
			color: rgba(51, 51, 51, 1);
			line-height: 0.45rem;
			margin-bottom: 0.3rem;
		}
		.wallentLfCont {
			display: block;
			width: 100%;
			font-size: 0.16rem;
			color: rgba(51, 51, 51, 1);
			line-height: 0.22rem;
			// text-align: justify;
			margin-bottom: 0.5rem;
		}
		.wallentDown {
			width: 100%;
			height: 0.42rem;
			div {
				float: left;
				max-width: 49%;
				width: 1.46rem;
				height: 0.42rem;
				border-radius: 0.04rem;
				line-height: 0.42rem;
				text-align: center;
				color: #fff;
				overflow: hidden;

				&.downLf {
					background: #ececec;
					img {
						width: 1.1rem;
						max-width: 100%;
					}
				}
				&.downRt {
					float: right;
					background: rgba(255, 87, 31, 1);
					img {
						width: 1.21rem;
						max-width: 100%;
					}
				}
			}
		}
	}
	.wallentRt {
		width: 2.95rem;
		img {
			display: block;
			width: 100%;
		}
	}
}
.downloadPopup {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.59);
	.centerBox {
		width: 5.5rem;
		height: 5.4rem;
		border-radius: 4px;
		background: #fff;
		.title {
			width: 100%;
			text-align: center;
			font-size: 0.24rem;
			font-family: "Microsoft YaHei", "impact";
			font-weight: 600;
			color: #333;
			padding: 0.2rem 0 0 0;
		}
		.closeBtn {
			position: absolute;
			right: 0.2rem;
			top: 0.2rem;
			background: url("../../../../assets/images/close1.png") no-repeat
				center center / cover;
			display: inline-block;
			background-size: 100% 100%;
			width: 0.17rem;
			height: 0.17rem;
			transition: all 0.3s ease-in-out;
			&:hover {
				opacity: 0.33;
			}
		}
		.qrcodeMess {
			width: 2.24rem;
			height: 2.24rem;
			img {
				display: block;
				width: 100%;
				height: 100%;
				object-fit: contain;
			}
		}
	}
}
.mobile #mainBox.wallentBox {
	display: block;
	width: 7.5rem;
	margin: 0 auto;
	padding: 0;
	.wallentLf {
		margin: 0 auto;
		padding: 0;
		width: 6.9rem;
		font-size: 0.4rem;
		line-height: 0.52rem;
	}
	.wallentLfTitle {
		text-align: center;
		font-size: 0.52rem;
		line-height: 0.62rem;
		height: 0.8rem;
		margin-top: 0.4rem;
	}
	.wallentLfCont {
		font-size: 0.34rem;
		line-height: 0.45rem;
	}
	.wallentDown {
		display: flex;
		justify-content: space-around;
		align-items: center;
		height: auto;
		.downLf,
		.downRt {
			width: 2.22rem;
			height: 0.48rem;
			padding: 0.15rem 0.2rem;
			border-radius: 0.1rem;
			img {
				display: block;
				width: 100%;
				height: 100%;
				object-fit: contain;
			}
		}
	}
}
