.register-box {
	background: #fff;
	width: 5.5rem;
	border-radius: 0.04rem;
	position: relative;
	text-align: center;
	.register-title {
		font-size: 0.24rem;
		font-family: "Microsoft YaHei", "impact";
		font-weight: 600;
		color: #333;
		padding: 0.2rem 0 0.6rem 0;
		position: relative;
		.icon-return {
			position: absolute;
			left: 0.1rem;
		}
	}
}
