@import "../../../../assets/less/basestyle.less";
.main-box {
	align-items: center;
	.candy-left {
		height: 100%;
		margin-right: 1rem;
	}
	.candy-calendar {
		max-width: 100%;
		border-right: 0.01rem solid #ececec;
		.must-read {
			border-top: 0.01rem solid #ececec;
			text-align: center;
			color: #006f0b;
			text-decoration: underline #006f0b;
			padding: 0.2rem 0;
			font-size: 0.16rem;
			span {
				cursor: pointer;
			}
		}
	}
	.data-box {
		height: 100%;
		box-sizing: border-box;
		padding: 0 0.5rem;
		border-right: 0.01rem solid #ececec;
		display: flex;
		flex-flow: column;
	}
	.calendar-data-title {
		padding: 0.1rem 0;
	}
	.icon-cadenlar {
		background: url("../../../../assets/images/calendar.png") left top
			no-repeat;
		display: inline-block;
		width: 0.28rem;
		height: 0.28rem;
		background-size: 100% 100%;
		margin-right: 0.1rem;
	}
	.calendar-text {
		font-size: 0.18rem;
		color: @orange;
		font-weight: 600;
	}
	.switch {
		width: 0.3rem;
		height: 0.17rem;
		box-sizing: border-box;
		border: 0.01rem dashed #000;
		padding: 0.02rem;
		box-shadow: inset 0 0 0.05rem #999;
		line-height: 0.1rem;
		cursor: pointer;
		.switch-item {
			width: 0.12rem;
			height: 0.12rem;
			background: #999;
			display: inline-block;
			vertical-align: middle;
			margin: 0;
			position: relative;
			transition: left 0.3s linear;
		}
	}
	.switch.open {
		.switch-item {
			background: @orange;
			left: 0.12rem;
		}
	}
	.data-group {
		flex-flow: 1;
		overflow: auto;
		margin-top: 0.3rem;
		.data-item {
			padding: 0.15rem 0;
			border-bottom: 0.01rem solid #ececec;
			cursor: pointer;
			.title {
				font-size: 0.16rem;
				margin-bottom: 0.03rem;
			}
			.content {
				font-size: 0.14rem;
			}
		}
	}
}
