@import "../../../lib/css/base.less";
.header-container {
	height: 0.5rem;
}
.header-box {
	background: @white;
	color: @text;
	padding: 0.1rem 0;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 19;
	transition: background 0.3s linear;
	.middle {
		flex: 1;
	}
	.nav {
		font-size: 0.14rem;
	}
	.a {
		color: @text;
		padding: 0.1rem 0.2rem;
		vertical-align: middle;
		border-bottom: 2px solid transparent;
	}
	.a.cur {
		color: @orange;
		border-bottom: 2px solid @orange;
	}
	.ctrl {
		margin-left: 0.1rem;

		.arrow-more {
			display: inline-block;
			border-left: 0.06rem solid transparent;
			border-right: 0.06rem solid transparent;
			border-top: 0.06rem solid @orange;
			cursor: pointer;
		}
	}
	.search {
		margin-left: 0.2rem;
		.searchbtn {
			vertical-align: middle;
			line-height: 0.25rem;
			img {
				vertical-align: middle;
				position: relative;
				top: -0.01rem;
				cursor: pointer;
			}
		}
		.search-input {
			width: 1.75rem;
			height: 0.25rem;
			box-sizing: border-box;
			line-height: 0.23rem;
			padding: 0 0.1rem;
			margin-right: 0.1rem;
			vertical-align: middle;
			border: 1px solid #ccc;
		}
		.search-input:focus {
			outline: none;
		}
	}
	.more-menu {
		display: none;
	}
	.contact-box {
		margin-left: 0.2rem;
		position: relative;
		text-align: right;
		.contact-more {
			position: absolute;
			right: 0;
			top: 0.2rem;

			.contact-list {
				background: @white;
				border: 1px solid #f2f2f2;
			}
			.contact-item {
				text-align: left;
				padding: 0.1rem;
				display: block;
				white-space: nowrap;
				cursor: pointer;
				color: @text;
			}
			.contact-img {
				width: 0.19rem;
				height: 0.14rem;
				margin-right: 0.1rem;
				vertical-align: middle;
			}
			.contact-text {
				vertical-align: middle;
			}
			.arrow {
				right: 0.05rem;
			}
		}
	}
	.arrow {
		border-left: 0.06rem solid transparent;
		border-right: 0.06rem solid transparent;
		border-bottom: 0.06rem solid @white;
		width: 0;
		height: 0;
		display: inline-block;
		top: 0.04rem;
		position: relative;
	}
}
.header-box.green {
	background: @green;
	color: @white;
	.a {
		color: @white;
	}
}
@media screen and (min-width: 750px) and (max-width: 1000px) {
	.header-box {
		box-sizing: border-box;
		padding: 0.1rem;
		.nav {
			display: none;
		}
		.search {
			display: none;
		}
		.more-menu {
			display: block;
			position: relative;
			margin-left: 0.1rem;
			.more-list {
				position: absolute;
				right: 0;
				top: 0.2rem;
				background: #f4f4f4;
				width: 0.8rem;
				text-align: center;
				z-index: 30;
				padding: 0 0.05rem;
				border-radius: 0.04rem;
				.more-item {
					display: block;
					padding: 0.1rem 0;
					border-bottom: 1px solid @grey;
					color: @text;
				}
				.more-item:nth-last-child(1) {
					border-bottom: 0;
				}
			}
		}
		.contact-box {
			display: none;
		}
	}
}
@media screen and (max-width: 750px) {
	.header-box {
		box-sizing: border-box;
		padding: 0.1rem;
		.nav {
			display: none;
		}
		.search {
			display: none;
		}
		.more-menu {
			display: block;
			position: relative;
			margin-left: 0.1rem;
			.more-list {
				position: absolute;
				right: 0;
				top: 0.2rem;
				background: #f4f4f4;
				width: 0.8rem;
				text-align: center;
				z-index: 30;
				padding: 0 0.05rem;
				border-radius: 0.04rem;
				.more-item {
					display: block;
					padding: 0.1rem 0;
					border-bottom: 1px solid @grey;
					color: @text;
				}
				.more-item:nth-last-child(1) {
					border-bottom: 0;
				}
			}
		}
		.contact-box {
			display: none;
		}
	}
}
