@import "../../../lib/css/base.less";
.header-box {
	background: @orange;
	color: @white;
	padding: 0.1rem 0;
	.middle {
		flex: 1;
	}
	.nav {
		font-size: 0.14rem;
	}
	.a {
		color: @white;
		padding: 0 0.1rem;
		vertical-align: middle;
	}
	.ctrl {
		margin-left: 0.1rem;
	}
}
